
/* fonts */
@font-face {
    font-family: 'Aaux-pro-bold';
    src: url('../fonts/AauxProBoldRegular/ufonts.com_aaux-probold-webfont.eot');
    src: url('../fonts/AauxProBoldRegular/ufonts.com_aaux-probold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AauxProBoldRegular/ufonts.com_aaux-probold-webfont.woff2') format('woff2'),
         url('../fonts/AauxProBoldRegular/ufonts.com_aaux-probold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* body */ 
body{
    background: #fff;
}
.content-wrapper{
    max-width: 1100px;
    padding: 0 38px;
    margin: 0 auto;
    min-width: 320px;
}
/* header styles */
/*header top*/
.logo{
    font: 28.5px/27.7px "Aaux-pro-bold", Arial, sans-serif;
    color: #35213a;
    letter-spacing: -2.2px;
    margin-right: 10px;
}
.logo:hover,
.logo:focus{
    text-decoration: none;
}
.subscribe{
    font: bold 11px/39px Arial, sans-serif;
    color: #9e7ec1;
    margin-right: 15px; 
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-right: 10px;
}
.subscribe-link{
    text-decoration: underline;
    margin-right: 15px;
    color: #9e7ec1;
}
.subscribe-social{
    width: 20px;
    height: 20px;
    display: block;
    background: #696969;
    border-radius: 50%;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin-right: 4px;
    transition: background 0.3s ease-out;
}
.subscribe-social:hover,
.subscribe-social:focus{
    background: #909090;
    text-decoration: none;
}
.subscribe-social:last-child{
    margin-right: 0;
}
.advert-block{
    width: 304px;
    height: 44px;
    transition: width 0.3s, height 0.3s ease-out;
    margin-right: 10px;
}
.advert-block img{
    width: 100%;
    height: auto;
}
.search-form-area{
    padding: 9px;
    border: 1px solid rgba(0,0,0,0.12);
    background: none;
    width: 100%;
}
.search-form-wrapper{
    position: relative;
}
.search-form-btn{
    position: absolute;
    background: none;
    border: none;
    right: 9px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    color: rgba(0,0,0,0.12);
}
.header-top .content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 11px;
}
/*header bottom*/
.header-bottom{
    background: #35213a;
}
.header-navigation{
    display: flex;
}
.header-navigation-link{
    color: #fff;
    text-transform: uppercase;
    display: block;
    flex-grow: 1;
    font: bold 12px/49px Arial, sans-serif; 
    padding: 0 15px;
    transition: background 0.3s ease-out;
    text-align: center;
    border-top: 1px solid rgba(215,160,229,0.12);
    border-left: 1px solid rgba(215,160,229,0.12);
    border-bottom: 1px solid rgba(215,160,229,0.12);
}
.header-navigation-link:last-child{
     border-right: 1px solid rgba(215,160,229,0.12);
}
.header-navigation-link:hover,
.header-navigation-link:focus{
    text-decoration: none;
    background: #9e7ec1;
}
.show-nav-btn{
    display: none;
}
/* global banner styles */
.global-banner{
    background: url("../img/layer-9.png") no-repeat bottom/cover;
    padding: 105px 0;
}
.global-banner-text{
    color: #fff;
}
.global-banner-title{
    font: bold 48px/48px Arial, sans-serif;
    text-shadow: 2px 3.5px 2px rgba(0,0,0,0.34);
    margin-bottom:14px;
    text-transform: uppercase;
}
.global-banner-subtitle{
    font: 21px/29px Arial, sans-serif;
    max-width: 400px;    
}
/*main path styles*/
.content{
    display: flex;
}
/*main styles*/
.main{
    flex-basis: calc(100% - 300px);
    padding: 41px 40px 0 0;
}
.articles-list{
    margin-bottom: 41px;
    border-bottom: 1px solid #edeef0;
}
.block-title{
    font: 28px/28px Arial, sans-serif;
    letter-spacing: -3.4px;
    color:#272727;
    margin-bottom: 22px;
    text-transform: uppercase;
}
.articles{
    display: flex;
}
.articles-item{
    width: calc( 100% - 19px / 2 * 3);
    margin-right: 19px;
    margin-bottom: 41px;
}
.articles-item:last-child{
    margin-right: 0;
}
.article-item-img{
    height: 121px;
    overflow: hidden;
    position: relative;
}
.item-border{
    padding: 2px;
    border: 1px solid #adadad;
}
.article-item-img-wrapper,
.article-item-video-wrapper{
    margin-bottom: 10px;
}
.horizont-article-img img,
.article-item-img img{
    width: auto;
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sidebar-title,
.article-item-title{
    font: bold 15px/18px Arial, sans-serif;
    color: #35213a;
    text-transform: uppercase;
}
.article-item-video{
    height: 121px;
    overflow: hidden;
    position: relative;
}
.article-item-video iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.article-item-desc{
    padding-top: 3px;
    font: 12px/15px Arial, sans-serif;
    color:#6a6a6a;
}
.special-block{
    margin-bottom: 41px;
}
.special-block-container{
    display: flex;
    padding: 20px;
    background: #8466a5;
    align-items: center;
}
.special-block-img-border{
    flex-basis: calc(50% - 15px);
    padding: 3px;
    border: 1px solid #adadad;
    margin-right: 15px;
    background: #fff;
}
.special-block-color{
    color: #fff;
}
.special-block-text{
    flex-basis: 50%;
}
.special-block-img{
    height: 165px;
    margin-bottom: 0;
}
/*app block*/
.app-block{
    padding: 20px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    margin-bottom: 41px;
}
.app-block-img{
    min-width: 97px;
    flex-basis: 97px;
    height: 115px;
    background: url("../img/sprite.png") no-repeat;
    background-position: 0 -84px;
    margin-top: -36px;
    margin-right: 23px;
}
.app-block-btn{
    min-width: 120px;
    flex-basis: 120px;
    height: 35px;
    background: url("../img/sprite.png") no-repeat;
    background-position: 0 -47px;
    border: none;
}
.app-block-text{
    margin-right: 50px;
    flex-basis: calc(100% - 120px - 97px);
}
/* sidebar styles */
.sidebar{
    flex-basis: 300px;
    padding-top: 91px;
}
.sidebar-title{
    text-transform: capitalize;
    margin-bottom: 14px;
}
.subscription{
    margin-bottom: 41px;
}
.subscription-inputs{
    display: flex;
    margin-top: 14px;
}
.subscription-input-text{
    padding: 12px;
    border: 1px solid #adadad;
    font-size: 12px;
    flex-grow: 1;
}
.subscription-input-btn{
    padding: 12px;
    background: #9e7ec1;
    text-transform: uppercase;
    font: bold 11px Arial, sans-serif; 
    color: #fff;
    cursor: pointer;
}
.sidebar-articles-title{
    margin-bottom: 20px;
}
.horizont-article-list{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.horizont-article-item{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 12px;
}
.horizont-article-item:not(:last-child)::after{
    content: "";
    display: block;
    width: 100%;
    margin-top: 12px;
    border-bottom: 1px solid #e4e3e3;
}
.horizont-article-img-wrapper{
    flex-basis: 76px;
    margin-right: 10px;
}
.horizont-article-img{
    height: 75px;
    width: 76px;
    position: relative;
    overflow: hidden;
}
.horizont-article-img img{
    width: auto;
    height: 100%;
}
.horizont-article-text{
    flex-basis: calc(100% - 82px - 10px);
}
.horizont-article-desc{
    margin-top: 10px;
    font: 12px/15px Arial, sans-serif;
    color:#6a6a6a;
}
/* footer */
.footer-block{
   padding-top: 14px;
   border-top: 2px solid rgba(53, 33, 58, 0.2);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.footer-navigation-link{
    font: 12px/39px Arial, sans-serif;
    color: #35213a;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #35213a;
    text-transform: capitalize;
    transition: color 0.3s ease-out;
}
.footer-navigation-link:hover{
    color: #9e7ec1
}
.footer-navigation-link:last-child{
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}
.copyright{
    font: 11px/39px Arial, sans-serif;
    color: #9a9999;
}
.footer-copyright{
    flex-basis: 100%;
}
.footer .subscribe{
   margin-right: 0;
}
    