
/* media styles */
@media only screen and (max-width: 1280px){
    .advert-block{
        width: 224px;
        height: 35px;
    }
    .main{
        flex-basis: calc( 100% - 250px );
    }
    .sidebar{
        flex-basis: 250px
    }
}
@media only screen and (max-width: 980px){
    .tablet-hidden{
        display: none;
    }
    .main{
        flex-basis: calc( 100% - 220px );
    }
    .sidebar{
        flex-basis: 220px
    }
    .footer-block{
        justify-content: center;
    }
}
@media only screen and (max-width: 780px){
    .mobile-hidden{
        display: none;
    }
    .header-bottom .content-wrapper{
        position: relative;
    }
    .show-nav-btn{
        display: block;
        color: #fff;
        line-height: 49px;
        text-align: center;
        font-size: 30px;
    }
    .show-nav-check{
        display: none;
    }
    .header-navigation{
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background: #35213a;
        flex-wrap: wrap;
        z-index: 10;
    }
    .show-nav-btn:checked ~ #header-mobile-menu{
        display: flex;
    }
    .header-navigation-link{
        flex-basis: 100%;
    }
    .header-navigation-link{
        border-top: none;
        border-right: 1px solid rgba(215,160,229,0.12);
    }
    .header-navigation-link:first-child{
        border-top: 1px solid rgba(215,160,229,0.12);
    }
    .content{
        flex-wrap: wrap;
    }
    .main{
        flex-basis: 100%;
        padding-right: 0;
        margin-bottom: 0px;
    }
    .sidebar{
        flex-basis: 100%;
        padding-top: 0
    }
    .horizont-article-item{
        flex-basis: calc(50% - 30px / 2);
        margin-right: 30px;
    }
    .horizont-article-item:nth-child(even){
        margin-right: 0;
    }
    .horizont-article-item::after{
        content: "";
        display: block;
        width: 100%;
        margin-top: 12px;
        border-bottom: 1px solid #e4e3e3;
    }
}
@media only screen and (max-width: 560px){
    .content-wrapper{
        padding: 0 15px;
    }
    .search-form-area{
        padding: 5px;
    }   
    .global-banner{
        padding: 60px 0;
    }
    .global-banner-title{
        font-size: 40px;
        line-height: 40px;
    }
    .global-banner-subtitle{
        font-size: 18px;
        line-height: 25px;
    }
    .articles{
        flex-wrap: wrap;
    }
    .articles-item{
        max-width: 300px;
        margin: 0 auto 41px;
    }
    .articles-item:last-child{
        margin-right: auto;
    }
    .article-item-img,
    .article-item-video{
        height: 150px;
    }
    .special-block-container{
        flex-wrap: wrap;
        max-width: 300px;
        margin: auto;
    }
    .special-block-img-border,
    .special-block-text{
        flex-basis: 100%;
        margin-right: 0;
    }
    .special-block-img-border{
        margin-bottom: 20px;
    }
    .special-block-img{
        height: 180px;
    }
    .app-block{
        flex-wrap: wrap; 
        justify-content: center;
    }
    .app-block-img{
        justify-content: center;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .app-block-text{
        flex-basis: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .horizont-article-item{
        flex-basis: 100%;
        margin-right: 0;
    }
    .horizont-article-item:last-child::after{
        content: "";
        display: block;
        width: 100%;
        margin-top: 12px;
        border-bottom: none;
    }
}
@media only screen and (max-width: 360px){
    .logo{
        margin-right: 20px;
        flex: 0 1 auto;
    }
    .search{
        flex: 1 1 auto;
    }  
    .article-item-img,
    .article-item-video{
        height: 150px;
    }    
}