body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{
margin: 0; padding: 0; border: 0; outline: none;
}
 
body
{
line-height: 1;
font-size: 88% /* Decide for yourself if you want to include this. */;
}
 
h1, h2, h3, h4, h5, h6
{
font-size: 100%;
padding: 0;
margin: 0;
}
 
ul, ol
{
list-style: none;
}
 
a
{
color: black;
text-decoration: none;
}
 
a:hover
{
text-decoration: underline;
}
 
.floatLeft
{
float: left;
padding: .5em .5em .5em 0;
}
 
.floatRight
{
float: right;
padding: .5em 0 .5em .5em;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
}